.formagregar {
    width: 900px;
    margin: 1px auto;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #047CF6;
}

.formod {
    width: 900px;
    margin: 1px auto;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 1px;
    border: 1px solid #047CF6;
}

.cancelform {
    color: red;
    margin: auto;
}

.editar:hover {
    color: #F99A05 !important;
    cursor: pointer
}

.bg-white {
    background: #FFFFFF;
}

.eliminar:hover {
    color: #F81010 !important;
    cursor: pointer
}

.alta:hover {
    color: #08C05F;
    cursor: pointer
}

.agregar {
    color: #08C05F;
}

.oportunidad {
    color: #0275d8;
}

.editarcuenta {
    color: #FF9805;
}

.footerfijo {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

.navbar-inverse .navbar-nav .nav-link {
    color: #f7f7f9;
}

.caja {
    margin: auto;
    max-width: 250px;
    padding: 20px;
}

.caja select {
    width: 100%;
    font-size: 16px;
    padding: 5px;
}