
.wrap {
	width: 44%;
	margin-left: 28%;
	margin-top: 200px;
}



.fecha {
	font-family: Oswald, Arial;
	margin-bottom: 5px;
	width: 100%;
    color: #fff;
}


.reloj .caja-segundos {
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
	display: block;
}
footer{
    background: #282121;
    text-align: center;
    color: #fff;
    margin-bottom: -100%;
}
h1{
    color:#361AC2;
}